<mat-card class="news-card">
  <img *ngIf="news.image_url" mat-card-image [src]="news.image_url" [alt]="news.title">
  
  <mat-card-header>
    <mat-card-title>{{ news.title }}</mat-card-title>
  </mat-card-header>
  
  <mat-card-content>
    <p class="preview">{{ news.content.substring(0, 150) }}{{ news.content.length > 150 ? '...' : '' }}</p>
    <p class="author">Por: {{ news.author || 'Anónimo' }}</p>
    <p class="date">{{ news.created_at | date:'dd/MM/yyyy' }}</p>
  </mat-card-content>
  
  <mat-card-actions>
    <button mat-stroked-button color="primary" [routerLink]="['/news', news.id]" >LEER MÁS</button>
  </mat-card-actions>
</mat-card>
